name: Publish to NuGet
on:
  release:
    types: [created]
jobs:
  publish:
    #if: ${{ false }}  # disable for now
    runs-on: ubuntu-latest 
    permissions: 
      contents: read
      packages: write 
    steps:
      - uses: actions/checkout@v6
      - name: Select .NET Version
        uses: actions/setup-dotnet@v5.1.0
        with:
            dotnet-version: '10.0.x'
      - name: Pack
        run: dotnet pack --configuration Release DotnetTestSplit/DotnetTestSplit.csproj
      #- name: Push to GitHub packages
      #  run: |
      #    dotnet nuget add source --username javiertuya --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/javiertuya/index.json"
      #    dotnet nuget push DotnetTestSplit/nupkg/*.nupkg  --api-key ${{ secrets.GITHUB_TOKEN }} --source "github"
      #  env:
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Push to nuget.org
        run: dotnet nuget push DotnetTestSplit/nupkg/*.nupkg  --api-key ${{ secrets.NUGET_API_KEY }} --source "https://api.nuget.org/v3/index.json"
 